.overall-div {
    background-color: white;
    height: auto;
    width: 100%;
    margin: 0%;
    z-index: 0;
}

.header {
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0% 5% 0% 5%;
    z-index: 3;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
}

@media(max-width:640px) {
    .logo {
        justify-content: flex-start;
    }
}

.logo img {
    max-width: 166px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu button {
    font-family: Lato;
    color: #252525;
    font-size: 18px;
    border: none;
    background: white;
    margin: 20px 15px 15px 10px;
}

.menu button:hover {
    color: #EC6543;
}

.slider-holder {
    width: 1300px;
    height: 650px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder {
    width: 5200px;
    background-color: white;
    height: 650px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image {
    width: 1300px;
    height: 650px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target~.image-holder {
    left: 0px;
}

#slider-image-2:target~.image-holder {
    left: -1300px;
}

#slider-image-3:target~.image-holder {
    left: -2600px;
}

#slider-image-4:target~.image-holder {
    left: -3900px;
}

.button-holder {
    position: relative;
    top: -76px;
}

.slider-change {
    display: inline-block;
    margin: 25px 25px 25px 25px;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid black;
}

.about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

@media(max-width:640px) {
    .about {
        flex-direction: column;
    }
    .menu {
        display: none;
    }
}

.we {
    width: 41%;
    height: auto;
    background: white;
    margin-left: 100px;
}

@media(max-width:640px) {
    .we {
        width: 80%;
        margin: 30px 30px 30px 30px;
    }
}

.we h1 {
    color: #252525;
    font-family: Lato;
    font-style: normal;
    line-height: 30px;
}

.we p {
    color: rgb(136, 136, 136);
    line-height: 1.63043em;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
}

.about-img {
    width: 50%;
    height: auto;
}

.about-img img {
    width: 392px;
    height: 289px;
    margin: 41px 118px 43px 112px;
}

@media(max-width:640px) {
    .about-img {
        width: 80%;
        margin: 30px 30px 30px 30px;
    }
    .about-img img {
        width: 392px;
        height: 289px;
        margin: 50px 50px 50px 15px;
    }
}

.about button {
    height: 50px;
    width: 120px;
    color: #EC6543;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgb(221, 81, 46);
}

.about button:hover {
    color: white;
    background-color: #EC6543;
}

.our-solution {
    text-align: center;
}

.our-solution a {
    font-size: 36px;
    font-family: Abril Fatface;
    font-weight: 400;
    font-style: normal;
}

.turning-btns {
    width: 100%;
    height: auto;
}

.do {
    text-align: center;
}

.hub {
    margin: 100px 98px 0px 98px;
}

@media(max-width:640px) {
    .hub {
        margin: 30x 30px 30px 30px;
    }
}

.hub p {
    color: rgb(136, 136, 136);
    line-height: 1.63043em;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
}

.career {
    display: flex;
    justify-content: center;
}

.career button {
    height: 50px;
    width: 90px;
    color: #EC6543;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgb(221, 81, 46);
}

.career button:hover {
    background-color: rgb(221, 81, 46);
    color: white;
}

.flip {
    background-color: transparent;
    width: 100%;
    height: auto;
    perspective: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

@media(max-width:640px) {
    .flip {
        flex-direction: column;
        margin: 50px 50px 50px 50px;
    }
}

.flip-card-inner-one {
    position: relative;
    height: 258px;
    width: 369px;
    background: transparent;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin-bottom: 46px;
}

.flip-card-inner-two {
    position: relative;
    height: 258px;
    width: 369px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin-bottom: 46px;
}

.flip-card-inner-three {
    position: relative;
    height: 258px;
    width: 369px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-one:hover .flip-card-inner-one {
    transform: rotateY(180deg);
}

.flip-card-two:hover .flip-card-inner-two {
    transform: rotateY(180deg);
}

.flip-card-three:hover .flip-card-inner-three {
    transform: rotateY(180deg);
}

.one,
.one-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.one {
    background-color: #bbb;
    color: black;
}

.one-back {
    background-color: #2980b9;
    color: transparent;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.two,
.two-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.two {
    background-color: #bbb;
    color: black;
}

.two-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.three,
.three-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.three {
    background-color: #bbb;
    color: black;
}

.three-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.one-back button,
.two-back button,
.three-back button {
    width: 100px;
    height: 40px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
}

.one-back button:hover,
.two-back button:hover,
.three-back button:hover {
    background: cornsilk;
}

.one p,
.two p,
.three p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.one {
    background: #3097d9;
    height: 258px;
    width: 369px;
    border-radius: 10px;
    border: none;
    transition: color 0.5s, transform 1s;
    font-size: 200px;
    color: white;
}

.one-back {
    background: #3097d9;
    height: 258px;
    width: 369px;
    border-radius: 10px;
    border: none;
    transition: color 0.5s, transform 1s;
    color: white;
    line-height: 30px;
    backface-visibility: hidden;
}

.two {
    background: #348c26;
    height: 258px;
    width: 369px;
    border-radius: 40px;
    border: none;
    transition: color 0.5s, transform 1s;
    font-size: 200px;
    color: white;
}

.two-back {
    background: #348c26;
    height: 258px;
    width: 369px;
    border-radius: 40px;
    border: none;
    transition: color 0.5s, transform 1s;
    color: white;
    line-height: 30px;
    backface-visibility: hidden;
}

.three {
    background: #981b21;
    height: 258px;
    width: 369px;
    border-radius: 10px;
    border: none;
    transition: color 0.5s, transform 1s;
    font-size: 200px;
    color: white;
}

.three-back {
    background: #981b21;
    height: 258px;
    width: 369px;
    border-radius: 10px;
    border: none;
    transition: color 0.5s, transform 1s;
    color: white;
    line-height: 30px;
    backface-visibility: hidden;
}

.overall-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

@media(max-width:500px) {
    .overall-icon {
        flex-direction: column;
    }
}

.icon {
    background-color: white;
    line-height: 30px;
}

.icon img {
    width: 30px;
    height: 25px;
    align-self: center;
    margin-left: 43%;
    margin-bottom: 26px;
}

@media(max-width:500px) {
    .icon img {
        margin-left: 50%;
    }
}

.icon p {
    font-size: 15px;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-style: normal"

}

.footer {
    margin-top: 50px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px;
    padding: 40px 100px 40px 100px;
    display: flex;
    flex-direction: row;
}

@media(max-width:500px) {
    .footer {
        flex-direction: column;
    }
}

.social {
    margin-bottom: 30px;
}

.social a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.image-holder button {
    color: white;
    background: black;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    height: 40px;
    width: auto;
    font-size: 17px;
    font-weight: bolder;
}

.image-holder button:hover {
    background: white;
    color: black;
}

.font-1 {
    color: black;
    font-size: 30px;
    font-family: Lato;
}

.font-2 {
    color: white;
    font-size: 30px;
    font-family: Lato;
}

.text-1 {
    position: absolute;
    margin-left: 80px;
    margin-top: 40px;
    background-color: transparent;
    text-align: left;
}

.text-2 {
    position: absolute;
    margin-left: 1380px;
    background-color: transparent;
}

.text-3 {
    position: absolute;
    margin-left: 2720px;
    margin-top: 180px;
    background-color: transparent;
    text-align: left;
}

.text-4 {
    position: absolute;
    margin-left: 3950px;
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}

body {
    margin: 0;
}